

@media only screen and (max-width: 740px) {
    /* index.html */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-weight: bold;
  font-variant: normal;
}
#logohotel {
  text-align: center;
}
#logo {
width: 100px;
height: 50%;
cursor: pointer;
}
header{
position: sticky;
top: 0;
}
#bar{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #24252A;
}
li.head{
float: left;
}
li.head a {
display: block;
color: #ffffff;
text-align: center;
padding: 7px 8px;
text-decoration: none;
font-size: 10px;
}
li.head a:hover {
background-color: #111;
}
#limit{
  float: right;
}
#bn:hover{
  background-color: black;
}
#bn{
  background-color: #20b2aa;
}
#welcome {
background-image: url(picture/hotel/1.jpg);
width: 100%;
height: 400px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
text-align: center;
color: #ffffff;
display: block;
align-items: center;
justify-content: center;
}
.images1 {
  display: grid;
  width: 50%;
  grid-gap: 1px 1px;
  grid-template-columns: 120px 120px 120px;
  background-color: none;
  padding: 1px;
  border-top: 100px;
  }
  .silde1 {
  background-color: none;
  border:  1px solid #ffffff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  }
  .un1 {
  width: 100%;
  height: 100px;
  }
button{
border-radius: 12px;
border: none;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
background-color: #463C3C;
}
button:hover 
{
background-color: #262121;
}
footer p {display: inline-block;}

#contact img{
  width: 50px;
  height: 20%;
  padding: 10px 10px 0px 10px;
  margin-top: 10px;

}

footer {
background-color: #24252A;
color: #ffffff;
text-align: center;
}
/*product.html*/
#intro {
background-image: url(picture/hotel/4.jpg);
width: 375px;
height: 200px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
text-align: center;
color: #ffffff;
display: block;
align-items: center;
justify-content: center;
}

.images {
  display: grid;
  width: 50%;
  grid-gap: 1px 1px;
  grid-template-columns: 120px 120px 120px;
  background-color: none;
  padding: 1px;
  border-top: 100px;
}
.silde {
  background-color: none;
  border:  1px solid #ffffff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.un {
  width: 100%;
  height: 100px;
}
.ro {
background-color: #FAEBD7 ;
}
#tab {
margin: 10px 10px 0 10px;
}
/*enquire.html*/
input[type=text], select, textarea, input[type=radio], input[type=checkbox]{
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
}
label {
padding: 12px 12px 12px 0;
display: inline-block;
}
.fi {
float: left;
width: 25%;
margin-top: 6px;
margin-left: 10px;
margin-bottom: 10px;
}
.se {
float: left;
width: 75%;
margin-top: 6px;
margin-bottom: 10px;
}
.row:after {
content: "";
display: table;
clear: both;
padding: 20px;
}
#Bookingroom {
margin: 2em 2em 10em 2em;
}
textarea:focus{
box-shadow: 0 0 5px blue;
}
.i{
border-radius: 12px;
border: none;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
margin: 4px 2px;
cursor: pointer;
background-color: #463C3C;
}
.i:hover{
background-color: #FF6347;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 2em;
  text-align: center;
}

th, td {
  text-align: left;
  padding: 16px;
  border: 1px solid black;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
 
}
#paymentForm {
  margin-bottom: 70px;
}
